# Copyright (c) 2023 ZMK
# SPDX-License-Identifier: MIT

config ZMK_USB_LOGGING
	default y

if SHIELD_SYNTH_WAVE_LEFT

config ZMK_KEYBOARD_NAME
	default "Synth Wave"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SYNTH_WAVE_LEFT || SHIELD_SYNTH_WAVE_RIGHT

config ZMK_SPLIT
	default y

endif

if ZMK_DISPLAY

config I2C
  default y

config SSD1306
  default y

config SSD1306_REVERSE_MODE
  default y

endif # ZMK_DISPLAY